version: "3.9"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - bank-net

  backend:
    build: ./backend
    depends_on:
      - db
    networks:
      - bank-net

  web:
    build: ./web
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - bank-net

volumes:
  pgdata:

networks:
  bank-net:
