name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker images
        run: docker compose build

      - name: Start application
        run: |
	  POSTGRES_DB=bankdb POSTGRES_PASSWORD=bankpass docker compose up -d

      - name: Wait for services
        run: sleep 20

      - name: Check backend health
        run: curl -f http://localhost:8000/health

      - name: Check web service
        run: curl -f http://localhost:8080

      - name: Stop application
        run: docker compose down
